.produtos__itens{
    padding: 16px;
}

.produtos__itens ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
}

@media(min-width: 1024px){
    
    .produtos__itens{
        padding: 16px 5px;
    }

}