.rodape__formulario{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1rem;
    height: auto;
    width: 100%;
}

@media(min-width: 768px) and (max-width: 1024px){
    .rodape__formulario{
      
    }
}
