main{
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color:#F5F5F5 ;
}

@media(min-width: 768px) and (max-width: 1024px){
    main{
        padding: 32px;
    }
}


@media(min-width: 1024px){
    main{
      align-items: center;
      justify-content: center;
      padding: 64px;
    }
}