.container__login-btn{
    background-color: #2A7AE4;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 12px 16px;
    width: 109px;

    cursor: pointer;
    transition: 0.5s ease-in-out;
    
}

.container__login-btn:hover{
    background-color: #1a4e91;
    transform: scale(0.95);
   
}
@media(min-width: 768px){
    .container__login-btn{
        font-size: 18px;
        height: 40px;
        width: 109px;
    }

}

@media(min-width: 1024px){
    .container__login-btn{
        font-size: 18px;
        padding: 16px;
        height: 63px;
        width: 423px;
    }

}
